html
{
    background-color: black;
    color: white;
    font-size: 16px;
}

body{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 90vh;           
    margin: 0;               
}