html
{
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #0C0C0C;
    color: #CCCCCC
}

.nav-bar{
    font-size: large;
}

.banner{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 3px;
}

.main-content{
    display: block;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto 3vh;
}

@media (max-width: 900px) {
  .main-content {
    width: 98%;
  }
}

.content{
    text-align: left;
    line-height: 28px;
}

.blog-entry{
    border-style: solid;
    width: 50vw;
    margin: 0 auto 3vh;
}

/* elements */
h1, h2, h3{
    text-align: left;
    margin-bottom: -5px;
}

a{
    color: #0087bd;
}

a::selection{
    background-color: #FFFFFF;
}

li::marker{
    content: "- ";
}

hr{
    border: none;
    height: 1px;
    background-color: rgb(73, 73, 73);
    width: 100%;
    margin: 25px 0 25px 0; 
}